In [199]:
import pandas as pd
    
inputFile = open('cytobanddm.txt','r')
outputFile = open('temp.txt','w')

count = 0 
for line in inputFile:
    count += 1
    if count % 2 == 0:
        outputFile.write(line.rstrip('\n') + 'p' + '\n')
    else:
        outputFile.write(line )
inputFile.close()
outputFile.close()

with open(r'temp.txt', 'r') as file:
    data = file.read()
    data = data.replace("n/ap", "gneg")
    data = data.replace("n/a", "gpos100")
with open(r'temp.txt', 'w') as file:
    file.write(data)

In [226]:
df

,chr,WinStart,WinStop,F100R,F101R,F102R,F103R,F104R,F105R,F106R,...,F91R,F92R,F93R,F94R,F95R,F96R,F97R,F98R,F99R,mid
0,X,0,183465,2,2,2,1,2,2,2,...,2,2,2,2,2,2,2,2,2,91732.5
1,X,183466,280780,2,2,2,1,2,2,2,...,2,2,2,2,2,2,2,2,2,232123.0
2,X,280781,347892,2,2,2,1,2,2,2,...,2,2,2,2,2,2,2,2,2,314336.5
3,X,347893,407462,2,2,2,1,2,2,2,...,2,2,2,2,2,2,2,2,2,377677.5
4,X,407463,459672,2,2,2,1,2,2,2,...,2,2,2,2,2,2,2,2,2,433567.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6439,3R,27573103,27646173,2,0,0,0,2,2,2,...,2,2,0,0,0,0,0,0,0,27609638.0
6440,3R,27646174,27707386,2,0,0,0,2,2,2,...,2,2,0,0,0,0,0,0,0,27676780.0
6441,3R,27707387,27775094,2,0,0,0,2,2,2,...,2,2,2,0,0,0,0,0,0,27741240.5
6442,3R,27775095,27834605,2,0,0,0,2,2,2,...,2,2,2,0,0,0,0,0,0,27804850.0
6443,3R,27834606,27905052,2,0,0,0,2,2,2,...,2,2,2,0,0,0,0,0,0,27869829.0

In [211]:
df = pd.read_csv('FR_RIL_genotypes_winZI1k.txt', delimiter = '\t')
df['mid']= (df.WinStart + df.WinStop)/2

In [224]:
df.drop(['WinStart','WinStop', 'chr'], axis=1)*2-1

,F100R,F101R,F102R,F103R,F104R,F105R,F106R,F107R,F108R,F109R,...,F91R,F92R,F93R,F94R,F95R,F96R,F97R,F98R,F99R,mid
0,3,3,3,1,3,3,3,3,3,-1,...,3,3,3,3,3,3,3,3,3,183464.0
1,3,3,3,1,3,3,3,3,3,-1,...,3,3,3,3,3,3,3,3,3,464245.0
2,3,3,3,1,3,3,3,3,3,-1,...,3,3,3,3,3,3,3,3,3,628672.0
3,3,3,3,1,3,3,3,3,3,-1,...,3,3,3,3,3,3,3,3,3,755354.0
4,3,3,3,1,3,3,3,3,3,-1,...,3,3,3,3,3,3,3,3,3,867134.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6439,3,-1,-1,-1,3,3,3,-1,-1,3,...,3,3,-1,-1,-1,-1,-1,-1,-1,55219275.0
6440,3,-1,-1,-1,3,3,3,-1,-1,3,...,3,3,-1,-1,-1,-1,-1,-1,-1,55353559.0
6441,3,-1,-1,-1,3,3,3,-1,-1,3,...,3,3,3,-1,-1,-1,-1,-1,-1,55482480.0
6442,3,-1,-1,-1,3,3,3,3,-1,3,...,3,3,3,-1,-1,-1,-1,-1,-1,55609699.0
6443,3,-1,-1,-1,3,3,3,3,-1,3,...,3,3,3,-1,-1,-1,-1,-1,-1,55739657.0

In [225]:
df

,chr,WinStart,WinStop,F100R,F101R,F102R,F103R,F104R,F105R,F106R,...,F91R,F92R,F93R,F94R,F95R,F96R,F97R,F98R,F99R,mid
0,X,0,183465,2,2,2,1,2,2,2,...,2,2,2,2,2,2,2,2,2,91732.5
1,X,183466,280780,2,2,2,1,2,2,2,...,2,2,2,2,2,2,2,2,2,232123.0
2,X,280781,347892,2,2,2,1,2,2,2,...,2,2,2,2,2,2,2,2,2,314336.5
3,X,347893,407462,2,2,2,1,2,2,2,...,2,2,2,2,2,2,2,2,2,377677.5
4,X,407463,459672,2,2,2,1,2,2,2,...,2,2,2,2,2,2,2,2,2,433567.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6439,3R,27573103,27646173,2,0,0,0,2,2,2,...,2,2,0,0,0,0,0,0,0,27609638.0
6440,3R,27646174,27707386,2,0,0,0,2,2,2,...,2,2,0,0,0,0,0,0,0,27676780.0
6441,3R,27707387,27775094,2,0,0,0,2,2,2,...,2,2,2,0,0,0,0,0,0,27741240.5
6442,3R,27775095,27834605,2,0,0,0,2,2,2,...,2,2,2,0,0,0,0,0,0,27804850.0
6443,3R,27834606,27905052,2,0,0,0,2,2,2,...,2,2,2,0,0,0,0,0,0,27869829.0

In [200]:
df = pd.read_csv('temp.txt', delimiter = '\t', names=['chr', 'start', 'end', 'type', 'gie'])

k = 1000000 # centromere size

centro = {'chr': ['chr2R', 'chr2R'], 'start': [0, k], 'end': [k,2*k],  
          'type':['centro', 'centro'], 'gie':['acen', 'acen']}
df = pd.concat([df,pd.DataFrame(centro)], ignore_index = True)
df.reset_index()

df.loc[(df['type'] =='centro') & (df['chr'] == 'chr2R') , ['end','start']] += 22570260
df.loc[(df['type'] != 'centro') & (df['chr'] == 'chr2R') , ['end','start']] += 22570260 - 348419 + 2*k
df.loc[df['chr'] == 'chr2R' , 'chr'] = 'chr2'
df.loc[df['chr'] == 'chr2L' , 'chr'] = 'chr2'

centro = {'chr': ['chr3R', 'chr3R'], 'start': [0, k], 'end': [k,2*k], 
          'type':['centro', 'centro'], 'gie':['acen', 'acen']}
df = pd.concat([df,pd.DataFrame(centro)], ignore_index = True)
df.reset_index()

df.loc[(df['type'] =='centro') & (df['chr'] == 'chr3R') , ['end','start']] += 23849507
df.loc[(df['type'] != 'centro') & (df['chr'] == 'chr3R') , ['end','start']] += 23849507 - 0 + 2*k
df.loc[df['chr'] == 'chr3R' , 'chr'] = 'chr3'
df.loc[df['chr'] == 'chr3L' , 'chr'] = 'chr3'

df.loc[df['chr'] == 'chrX' , 'chr'] = 'chr1'

df = df.sort_values(by = ['chr', 'start'])

df.to_csv('test.txt', header= False, index = False, sep = '\t')

In [201]:
df

       chr    start      end   type      gie
4034  chr1        1   204163    1A1  gpos100
4035  chr1   204163   218212    1A2   gpos25
4036  chr1   218212   232261    1A3  gpos100
4037  chr1   232261   243676    1A4   gpos25
4038  chr1   243676   260413    1A5  gpos100
...    ...      ...      ...    ...      ...
4029  chr4   979550  1011423  102F4   gpos25
4030  chr4  1011423  1043296  102F5  gpos100
4031  chr4  1043296  1063643  102F6   gpos25
4032  chr4  1063643  1083991  102F7  gpos100
4033  chr4  1083991  1351857  102F8   gpos25

[5054 rows x 5 columns]

In [23]:
# creating a variable and storing the text
# that we want to search
search_text = "chr2L"
  
# creating a variable and storing the text
# that we want to add
replace_text = "chr1"
  
# Opening our text file in read only
# mode using the open() function
with open(r'cytoBanddm.txt', 'r') as file:
  
    # Reading the content of the file
    # using the read() function and storing
    # them in a new variable
    data = file.read()
  
    # Searching and replacing the text
    # using the replace() function
    data = data.replace("chrX", "chr1")
  
# Opening our text file in write only
# mode to write the replaced content
with open(r'SampleFile.txt', 'w') as file:
  
    # Writing the replaced data in our
    # text file
    file.write(data)
    
inputFile = open('SampleFile.txt','r')
outputFile = open('cytobanddm2.txt','w')

line = inputFile.readline()
count = 0 
for line in inputFile:
    count += 1
    if count % 2 == 0:
        outputFile.write(line.rstrip('\n') + 'p' + '\n')
    else:
        outputFile.write(line )
inputFile.close()
outputFile.close()


with open(r'cytoBanddm2.txt', 'r') as file:
  
    # Reading the content of the file
    # using the read() function and storing
    # them in a new variable
    data = file.read()
  
    # Searching and replacing the text
    # using the replace() function
    data = data.replace("n/ap", "gpos25")
    data = data.replace("n/a", "gpos100")
    
with open(r'SampleFile.txt', 'w') as file:
  
    # Writing the replaced data in our
    # text file
    file.write(data)

print("Text replaced")

Text replaced